$dark-blue: #091035;
$green: rgba(159, 250, 92, 0.9);
$red: #ff3030;
$purple: rgb(82, 46, 197);

html {
  background: rgba(244, 248, 251, 1);

  font-family: "Roboto", sans-serif;
}

#school-manager-container {
  padding: 30px;
  min-height: 100vh;

  #page-title {
    margin-left: 90px;
  }

  #actions-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 90px;

    #search-student-input {
      width: 190px;
      height: 20px;
      padding: 4px;
      border-radius: 5px;
      margin-top: 20px;
      border: 2px solid $purple;
    }
  }
  .add-student-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid $purple;
    background-color: $purple;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: large;
    cursor: pointer;
  }

  #student-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .student {
    transition: box-shadow 0.3s;
    width: 150px;
    background-color: white;
    border: 1px solid rgba(9, 16, 53, 0.2);
    border-radius: 15px;
    margin: 20px 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.4);
    }

    &__firstname {
      margin: 10px 0px;
      color: $dark-blue;
    }
    &__lastname {
      margin-top: 0px;
      color: $dark-blue;
    }

    &__picture {
      border-radius: 50%;
    }

    &__button {
      border: 2px solid;
      margin-bottom: 10px;
      border-radius: 20px;
      cursor: pointer;

      &-modify {
        color: white;
        border: 1px solid $purple;
        color: $purple;
        background-color: transparent;
        &:hover {
          background-color: $purple;
          color: white;
        }
      }
      &-delete {
        color: $red;
        border: 1px solid $red;
        background-color: transparent;
        &:hover {
          background-color: $red;
          color: white;
        }
      }
    }
  }

  #empty-placeholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

//#region MODAL

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
}

.modal {
  z-index: 100;
  background: #fff;
  position: relative;
  margin: auto;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  padding: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-body {
  form {
    display: flex;
    flex-direction: column;

    .form-input {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      label {
        width: 150px;
      }
      input {
        width: 350px;
      }
    }

    #form-submit-button {
      border: 1px solid $purple;
      background-color: $purple;
      border-radius: 5px;
      color: white;
      font-size: medium;
      margin-top: 20px;
      height: 40px;
      cursor: pointer;
    }
  }

  .delete-user-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__button {
      width: 200px;
      border-radius: 5px;
      font-size: large;
      cursor: pointer;

      &-yes {
        border: 2px solid $red;
        color: $red;
        &:hover {
          background-color: $red;
          color: white;
        }
      }
      &-no {
        border: 2px solid $purple;
        color: $purple;
        &:hover {
          background-color: $purple;
          color: white;
        }
      }
    }
  }
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
}

//#endregion
